@import 'tailwindcss';

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

.plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}



@theme {
  --font-pjs: "Plus Jakarta Sans", sans-serif; 

  --color-primary: #FFFFFF;
  --color-secondary: #242424;
  --color-accent: #E52323;

  --tracking-hero: -0.018em;

    --animate-sidebounce: sidebounce 1s ease-in-out infinite;  

    @keyframes sidebounce {    
      0%,    100% {      
        transform: translateY(0);    
      }    
      50% {      
        transform: translateY(-10px);    
      }  
    }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

@layer components{

}
@layer utilities{
  
}